{% extends 'base.html.twig' %}

{% block title %}TVNET{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <main>
        <div class="episodes">
            <div class="episode-column">
                {% if locations is defined %}
                    {% for location in locations %}
                        <div class="columns">
                            <div class="container">
                                <div class="center-episode">
                                    <a href="location/{{ location.id }}">
                                        {{ location.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="center-arrows">
            <div class="arrows">
                <div class="prev">
                    <a href="{{ pages.previousPage }}">
                        &#xab;
                    </a>
                </div>

                <div class="next">
                    <a href="{{ pages.nextPage }}">
                        &#xbb;
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}