<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Rick&MortyAPI</title>
</head>
<body>

    <div class="allCharacters">
        <div class="center-characters">
            {% if characters is defined %}
                {% for character in characters %}
                    <div class="columns">
                        <div class="container">
                            <div class="pic">
                                <img src="{{ character.pictureUrl }}">
                            </div>
                            <div class="info">
                                <div class="info-contains">
                                    <p class="characterName">
                                        <a href="https://rickandmortyapi.com/api/character/{{ character.id }}"
                                           tabindex="0"
                                           target="_blank">
                                            {{ character.name }}
                                        </a>
                                    </p>

                                    <div class="emoji">
                                        <div class="symbol" style="color: {{ character.statusColor }}">
                                            &bull;
                                        </div>
                                        &nbsp;
                                        <div class="text">
                                            {{ character.status }} - {{  character.species }}
                                        </div>
                                    </div>

                                    <p class="title">{{ lastSeenIn }}</p>
                                    <p>
                                        <a href="{{ character.originUrl }}"
                                           tabindex="0"
                                           target="_blank"
                                        >
                                            {{ character.lastSeen }}
                                        </a>
                                    </p>

                                    <p class="title">{{ firstSeenIn }}</p>
                                    <p>
                                        <a href="{{ character.firstEpisodeUrl }}"
                                           tabindex="0"
                                           target="_blank"
                                        >
                                            {{ character.firstSeen.firstEpisodeTitle }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


</body>
</html>